
/* 重置浏览器CSS */
html{color: #000;background: #FFF;}
/* 重置内外边距 */
body,div,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,form,fieldset,legend,input,textarea,p,pre,code,blockquote,th,td,hr,button,article,aside,details,figcaption,figure,footer,header,section,hgroup,menu,nav{margin: 0;padding: 0}

/* 重置html5 标签 */
article,aside,details,figcaption,figure,header,footer,hgroup,nav,menu,section{display: block;}

/* 表单元素字体不继承父元素 */
body,button,input,textarea,select{font-size:12px/1.5;}

/* 去掉table cell边距并让其重合 */
table{border-collapse: collapse;border-spacing: 0}

/* 去除默认边框 */
fieldset,img {border: 0}

/* ie6 7 bug 内联样式 */
iframe{display: block;}

/* 去掉firefox下 此元素的边框 */
abbr,acronym{border: 0;font-variant: normal;} 

/* 一致的 del 样式 */
del{text-decoration: line-through;}
address,caption,cite,code,dfn,em,th,var {font-style:normal;font-weight:500;}

/* 去掉列表前的标识 */
ul,ol {list-style: none;}

caption,th{text-align: left;}

h1,h2,h3,h4,h5,h6{font-size: 100%;font-weight: 500;}
q:before,q:after{content: ''}

/* 统一上标和下标 */
sup{vertical-align: top;}
sub{vertical-align: bottom;}

/* 清除浮动 */
.clearfix:after{content: '';height: 0;visibility: hidden;clear: both;display: block;font-size: 0;}
.clearfix{zoom:1;}

/* 隐藏 */
body .hide{display: none;}

/* 设置内联 减少浮动带来的bug */
.left,.right{display: inline-block;}
.left{float: left;}
.right{float: right;}


/* 默认样式 */
body{font-family: "微软雅黑","Arial","Helvetica","sans-serif";font-size: 16px;background: #FFF;}
a{color: #4A75B5;text-decoration: none;}
a:hover{text-decoration: underline;}
h1{font-size: 30px;font-weight: bold;margin-bottom: 25px;}
h2{font-size: 20px;font-weight: bold;margin-bottom: 25px;}
h3{font-size: 18px;font-weight: bold;margin-bottom: 25px;}
h4,h5,h6{font-weight: bold;;margin-bottom: 15px;}
p{margin-bottom: 25px;line-height: 1.5em;}
code{background: #eee;border: 1px solid #ccc;padding: 0 5px;font-family:"Courier";line-height:14px;font-size:14px;word-wrap:break-word;}
pre{background: #000;padding: 15px;overflow: auto;margin-bottom: 20px;border: 1px solid #eee;-webkit-border-radius: 4px 4px 4px 4px;-moz-border-radius: 4px 4px 4px 4px;border-radius: 4px 4px 4px 4px;color:#b9bdb6}
pre code{background-color:transparent;border:none;padding:0;word-wrap:normal;}
pre ol{margin-left:25px;list-style-type:decimal;}

/* Wrapper Style */
#hr{margin-bottom: 15px;height: 25px;background: url(../images/hr.png) 0 0 no-repeat;margin-top: -13px;width: 650px;margin-left: auto;margin-right: auto;}
#logo {font-size: 30px;font-weight: bold;margin-left: 10px;padding-left: 2px;margin-bottom: 45px;margin-right: 25px;}
#logo a{color:#ccc;}
#logo a:hover{color:#666;text-decoration: none;}
#wrapper{width: 650px;margin: 0 auto;min-height: 400px;}


/* Cotent Style*/
#content {}
#content .title{text-align: center;margin-bottom: 15px;font-size: 28px;}
#content .title a{text-decoration: none;color: #000;}
#content .date{color:#666;text-align: center;margin-bottom: 60px;}

.entry ul, .entry ol{margin-left: 25px;margin-bottom: 25px;margin-top: -15px;}
.entry ul li{list-style: disc;margin-bottom: 5px;line-height: 1.5em;}
.entry ol li{list-style: decimal;margin-bottom: 5px;line-height: 1.5em;}

#about{background:#262626;width:100%;margin:0 auto;border-top:6px solid #026b8c;overflow:hidden;margin-top:30px;font-size:14px;line-height:1.6em;}
#about .about-content {width:720px;margin:50px auto;}
#about h2{color:#bbb;font-size:24px;font-weight:bold;border-bottom:1px solid #444;line-height:45px;}
#about .about-left{float:left;width:200px;color:#999;}
#about .about-more {margin-left:60px;}
#about .weibo-con{margin-top:-10px;margin-left:-14px;}
#about .copyright {margin-top:15px;font-size:12px;color:#666;overflow:hidden;}
#about a:link,
#about a:visited,
#about a:hover,
#about a:active {color:#5e8dba;outline:none;text-decoration:none;}
#about a:hover {text-decoration:underline;}


.index-artical ul{display:inline-block;vertical-align:top;*float:left;zoom:1;}
.index-artical .index-left{padding-right:28px}
.index-artical h2{font-size:20px;}
.index-artical h2 a{color:#444}
.index-artical h2 a:hover {color:#E50053;text-decoration:none;}
.index-artical li{margin-bottom:45px;text-align: center;}
.title-desc {color:#aaa;font-style:italic;font-size:14px;display:block;margin-top:-20px;}

/**************目录导航**************/
#menuIndex {position:fixed;top:60px;right:20px;width:200px;overflow:auto}
#menuIndex a {display:block}
#menuIndex a:hover {text-decoration:none;}
#menuIndex ul li{font-size:12px;margin-bottom:5px;word-wrap:break-word;padding-left:10px;}
#menuIndex ul li.on{background-color:#eee}
#menuIndex li.h1{font-size:14px;font-weight:normal;padding-left:0;margin-bottom:10px;}
#menuIndex li.h3{padding-left:25px;}

/**************表格******************/
table {
	width:100%;
	margin-bottom: 20px;
}

table th, table td {
	padding: 8px;
	line-height: 20px;
	text-align: left;
	vertical-align: top;
	border-bottom: 1px solid #dddddd;
}

table th {
	font-weight: bold;
}

table thead th {
	vertical-align: bottom;
}